@model QuanLyDeTai.Models.SinhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã số sinh viên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSSV)
        </dd>

        <dt>
            Tên sinh viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSinhVien)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            Tên chuyên ngành:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuyenNganh.tenChuyenNganh)
        </dd>

        <dt>
            Số điện thoại:
        </dt>
        <dd>
            @Model.AspNetUser.PhoneNumber
        </dd>
    </dl>
</div>

<span>
    <a href="@Url.Action("Edit", "SinhViens", new { id = Model.account_ID})">Chỉnh sửa</a> | 
</span>

<span>
    <a href="@Url.Action("Index", "SinhViens")">Quay về</a>
</span>