@model QuanLyDeTai.Models.DeTai

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn muốn xóa đề tài này?</h3>
<div>
    <h4>Đề tài</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tên đề tài")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenDeTai)
        </dd>

        <dt>
            @Html.DisplayName("Mục tiêu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mucTieu)
        </dd>

        <dt>
            @Html.DisplayName("Yêu cầu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yeuCau)
        </dd>

        <dt>
            @Html.DisplayName("Sản phẩm")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanPham)
        </dd>

        <dt>
            @Html.DisplayName("Chú thích")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chuThich)
        </dd>

        <dt>
            @Html.DisplayName("Số lượng sinh viên tối đa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongSinhVienToiDa)
        </dd>

        <dt>
            @Html.DisplayName("Được đăng ký khác chuyên ngành")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duocDangKyKhacChuyenNganh)
        </dd>

        <dt>
            @Html.DisplayName("Niên khóa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nienKhoa)
        </dd>

        <dt>
            @Html.DisplayName("Điểm")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diem)
        </dd>

        <dt>
            @Html.DisplayName("Trưởng nhóm")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.truongNhom)
        </dd>

        <dt>
            @Html.DisplayName("Giảng viên hướng dẫn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gvHuongDan)
        </dd>

        <dt>
            @Html.DisplayName("Trạng thái")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayName("Tên chuyên ngành")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuyenNganh.tenChuyenNganh)
        </dd>

        <dt>
            @Html.DisplayName("Loại đề tài")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiDeTai1.tenLoaiDeTai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>
