@model IEnumerable<QuanLyDeTai.Models.DeTai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm đề tài", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên đề tài")
        </th>
        <th>
            @Html.DisplayName("Mục tiêu")
        </th>
        <th>
            @Html.DisplayName("Yêu cầu")
        </th>
        <th>
            @Html.DisplayName("Sản phẩm")
        </th>
        <th>
            @Html.DisplayName("Chú thích")
        </th>
        <th>
            @Html.DisplayName("Số lượng sinh viên tối đa")
        </th>
        <th>
            @Html.DisplayName("Được đăng ký khác chuyên ngành")
        </th>
        <th>
            @Html.DisplayName("Niên khóa")
        </th>
        <th>
            @Html.DisplayName("Điểm")
        </th>
        <th>
            @Html.DisplayName("Trưởng nhóm")
        </th>
        <th>
            @Html.DisplayName("Giảng viên hướng dẫn")
        </th>
        <th>
            @Html.DisplayName("Trạng thái")
        </th>
        <th>
            @Html.DisplayName("Tên chuyên ngành")
        </th>
        <th>
            @Html.DisplayName("Loại đề tài")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenDeTai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mucTieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yeuCau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chuThich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuongSinhVienToiDa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duocDangKyKhacChuyenNganh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nienKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.truongNhom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gvHuongDan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuyenNganh.tenChuyenNganh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiDeTai1.tenLoaiDeTai)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.maDeTai }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.maDeTai }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.maDeTai })
            </td>
        </tr>
    }

</table>
