@model IEnumerable<QuanLyDeTai.Models.DeTai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

@{
    if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Thêm đề tài", "Create")
        </p>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên đề tài")
        </th>
        <th>
            @Html.DisplayName("Mục tiêu")
        </th>
        <th>
            @Html.DisplayName("Yêu cầu")
        </th>
        <th>
            @Html.DisplayName("Sản phẩm")
        </th>
        <th>
            @Html.DisplayName("Chú thích")
        </th>
        <th>
            @Html.DisplayName("Số lượng sinh viên tối đa")
        </th>
        <th>
            @Html.DisplayName("Được đăng ký khác chuyên ngành")
        </th>
        <th>
            @Html.DisplayName("Niên khóa")
        </th>
        <th>
            @Html.DisplayName("Điểm")
        </th>
        <th>
            @Html.DisplayName("Trưởng nhóm")
        </th>
        <th>
            @Html.DisplayName("Giảng viên hướng dẫn")
        </th>
        <th>
            @Html.DisplayName("Trạng thái")
        </th>
        <th>
            @Html.DisplayName("Tên chuyên ngành")
        </th>
        <th>
            @Html.DisplayName("Loại đề tài")
        </th>
        <th>
            @Html.DisplayName("Hành động")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenDeTai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mucTieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yeuCau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chuThich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuongSinhVienToiDa)
            </td>
            <td>
                @(item.duocDangKyKhacChuyenNganh == true ? "Có" : "Không")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nienKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.truongNhom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gvHuongDan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuyenNganh.tenChuyenNganh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiDeTai1.tenLoaiDeTai)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <span>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.maDeTai }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.maDeTai }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.maDeTai });
                    </span>
                }
                @if (User.IsInRole("Sinh viên"))
                {
                    <span>
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.maDeTai }) |

                        @if (DateTime.Now > item.LoaiDeTai1.tgDangKy && DateTime.Now < item.LoaiDeTai1.tgKetThuc)
                        {
                            if (item.Nhoms.Select(p => p.MSSV).ToList().Contains(ViewBag.masinhvien))
                            {
                                @Html.ActionLink("Hủy đăng ký", "SinhVienHuyDangKy", new { maDeTai = item.maDeTai }, new { style = "color: red;" })
                            }
                            else
                            {
                                if (item.truongNhom.HasValue == false)
                                {
                                    @Html.ActionLink("Đăng ký ", "SinhVienDangKy", new { maDeTai = item.maDeTai }, new { style = "color: green;" });
                                }
                            }
                        }



                    </span>
                }
                @if (User.IsInRole("Giảng viên"))
                {
                    <span>
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.maDeTai })

                    </span>
                }


            </td>
        </tr>
    }

</table>
