@model IEnumerable<QuanLyDeTai.Models.LoaiDeTai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LOẠI ĐỀ TÀI</h2>

<p>
    @Html.ActionLink("Thêm loại đề tài", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên loại đề tài")
        </th>
        <th>
            @Html.DisplayName("Niên khóa")
        </th>
        <th>
            @Html.DisplayName("Học kỳ")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenLoaiDeTai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nienKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hocKy)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.maLoaiDeTai }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.maLoaiDeTai }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.maLoaiDeTai })
        </td>
    </tr>
}

</table>
