@model IEnumerable<QuanLyDeTai.Models.LoaiDeTai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách các loại đề tài</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Tên loại đề tài
        </th>
        <th>
            Niên khóa
        </th>
        <th>
            Học kỳ
        </th>
        <th>
            Thời gian đăng ký
        </th>
        <th>
            Thời gian kết thúc
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tenLoaiDeTai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nienKhoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hocKy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tgDangKy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tgKetThuc)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.maLoaiDeTai })
                    </td>
                    <td>
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.maLoaiDeTai })
                    </td>
                    <td>
                        @Html.ActionLink("Xóa", "Delete", new { id = item.maLoaiDeTai })
                    </td>
                }
            </tr>
        </tbody>
    }

</table>
