@model QuanLyDeTai.Models.ThongBao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết thông báo</h2>

<div>
    <h4>Thông báo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tieuDe)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moTa)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiDung)
        </dd>

        <dt>
            Trạng thái
        </dt>

        @*<dd>
                @Html.DisplayFor(model => model.trangThai)
            </dd>*@

        @if (Model.trangThai == 1)
        {
            <dd>
                Còn hiệu lực
            </dd>
        }
        else
        {
            <dd>
                Hết hiệu lực
            </dd>
        }

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayTao)
        </dd>

        <dt>
            File đính kèm
        </dt>

        <dd>
            <a href="~/Upload/@Model.fileDinhKem">@Html.DisplayFor(model => model.fileDinhKem)</a>
        </dd>

        @*<dd>
                @Html.DisplayFor(model => model.fileDinhKem)
            </dd>*@

        <dt>
            Tên loại đề tài
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiDeTai.tenLoaiDeTai)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        <div>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.maThongBao })
        </div>
    }
    <div>
        @Html.ActionLink("Trở về", "Index")
    </div>
</p>
